body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    padding:15px;
}

.stock-card{
    background:#111827;
    border-radius:15px;
    margin-bottom:15px;
    overflow:hidden;
}

.stock-header{
    padding:18px;
    display:flex;
    justify-content:space-between;
    cursor:pointer;
}

.details{
    display:none;
    padding:20px;
    background:#0b1220;
}

.bar{
    height:12px;
    background:#1e293b;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:15px;
}

.fill{
    height:100%;
}

.ema20{background:#3b82f6;}
.ema50{background:#22c55e;}
.ema100{background:#f59e0b;}
.ema200{background:#ec4899;}
