.chart-container{
    position:relative;
    height:80px;
    margin-top:20px;
    margin-bottom:20px;
}

.line{
    position:absolute;
    top:40px;
    left:5%;
    width:90%;
    height:4px;
    background:white;
    border-radius:10px;
}

.dot{
    position:absolute;
    top:28px;
    width:26px;
    height:26px;
    border-radius:50%;
    transform:translateX(-50%);
}

.price{
    background:#ffffff;
    border:3px solid #3b82f6;
}

.ema20{
    background:#f59e0b;
}

.ema50{
    background:#a78bfa;
}

.ema100{
    background:#22c55e;
}

.ema200{
    background:#ec4899;
}

.legend{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.legend-dot{
    display:inline-block;
    width:15px;
    height:15px;
    border-radius:50%;
    margin-right:10px;
}
